node_modules

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

.env
package-lock.json
yarn.lock
app.config.js

shopify.app.toml

/extensions/*/dist
!.env.example
shopify.app.build-a-discount-function-with-remix.toml
.shopify
